@charset "UTF-8";

.icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}


.icon-arrow {
  mask-image: url(arrow.svg);
  -webkit-mask-image: url(arrow.svg);
}


.icon-scan {
  mask-image: url(scan.svg);
  -webkit-mask-image: url(scan.svg);
}
.icon-download {
  mask-image: url(download.svg);
  -webkit-mask-image: url(download.svg);
}

.icon-edit{
    mask-image: url(ediit.svg);
  -webkit-mask-image: url(ediit.svg);
}
.icon-tabler{
    mask-image: url(tabler.svg);
  -webkit-mask-image: url(tabler.svg);
}
.icon-search{
    mask-image: url(search.svg);
  -webkit-mask-image: url(search.svg);
}
.icon-star{
    mask-image: url(star.svg);
  -webkit-mask-image: url(star.svg);
}
.icon-arrow-down{
      mask-image: url(arrowDown.svg);
  -webkit-mask-image: url(arrowDown.svg);
}
.icon-close{
      mask-image: url(close.svg);
  -webkit-mask-image: url(close.svg);
}
.icon-user{
      mask-image: url(user.svg);
  -webkit-mask-image: url(user.svg);
}
.icon-user{
      mask-image: url(user.svg);
  -webkit-mask-image: url(user.svg);
}
.icon-login{
      mask-image: url(login.svg);
  -webkit-mask-image: url(login.svg);
}

